[global]
DEBUG = False
LOGFILE = /var/log/mqtt-aprs.log
MQTT_HOST = 10.0.0.1
MQTT_PORT = 1883
MQTT_TOPIC = /#
MQTT_SUBTOPIC = aprs
MQTT_USERNAME = 
MQTT_PASSWORD = 
APRS_LATITUDE = 0.00000
APRS_LONGITUDE = 0.00000
APRS_CALLSIGN = N0CALL
APRS_PASSWORD = -1
APRS_HOST = 
APRS_PORT = 
APRS_FILTER = 
APRS_PROCESS = True 
METRICUNITS = 0
